body, div, span, h1, h2, h3, h4, h5 {margin:0; padding:0; border:none;}

body      {background-color: #253e5f}
div       {font-size:12px; font-color:#111; font-family:Helvetica;}
.clear    {clear:both;}
.clear_selection::selection {background: transparent;}
.white_dashed_border {outline: 1px dashed #f3f3f3;}
.blue_dashed_border {outline: 1px dashed #5d83a1;}
#page_id  {position:absolute; top:-200px;}




#menubar  {height:100px; position:relative; margin-bottom:50px;}
#menubar  {background:url(/images/bg_header.gif) repeat-x;}
#menubar::selection {background: transparent;}

  .wrapper {width:1060px; margin:0px auto; padding:0px 0px;}
  
  #menubar #company_name    {float:left; height:50px; margin-top:40px;}
  #menubar #company_name::selection {background: transparent;}
  #menubar #company_name h3 {font-size:30px; font-weight:bold; color:#2f4d70; letter-spacing: 0.04em; text-shadow:#fff 0px 1px 0, #2f4d70 0 -1px 0; cursor:default;}
  #menubar #company_name h3::selection {background: transparent; cursor:default;}

  #menubar #page_title       {float:left; margin-left:140px; margin-top:40px;}
  #menubar #page_title input {height:30px; width:300px; padding-left:5px; }
  #menubar #page_title input {font-size:14px; background-color:rgba(256,256,256,.2); border:1px solid #9db8d0;}
  #menubar #page_title input:focus {background-color:rgba(255,239,0,.22); outline:0px solid black;}

  #menubar .center  {width:100px; margin:10px auto;}
  #menubar .center h3 {font-size:12px; font-weight:normal; color:#fff;}

#page     {width:1000px; min-height:500px; margin:0px auto; padding:30px;}
#page     {background:#e6e6e6;}


.container {float:left; position:relative; min-width:60px;}
.container {}


.buffer   {position:relative; width:100%;}
.buffer   {border-right:2px solid #ccc; border-left:1.5px solid #ccc; border-bottom:2px solid #ccc; border-top:1.5px solid #ccc;}
.buffer::selection {background: transparent;}

  .buffer_header {height:8px; line-height:20px; padding:5px 0px;} 
  .buffer_header {border-bottom:2px solid #ccc;}
  .buffer_header::selection {background: transparent;}
  
  .buffer_header.grey    {background-color:#b3b3b3;}
  .buffer_header.orange  {background-color:#e5ca91;}
  .buffer_header.blue    {background-color:#839fb6;}
  .buffer_header.purple  {background-color:#af9dc7;}
  .buffer_header.green   {background-color:#dcd893;}


  .buffer_header.hover     {background-color:#b3b3b3;}
  .buffer_header.grey.hover     {background-color:#a4a4a4;}
  .buffer_header.orange.hover   {background-color:#e5bf7f;}
  .buffer_header.blue.hover     {background-color:#7095b6;}
  .buffer_header.purple.hover   {background-color:#b08cc7;}
  .buffer_header.green.hover    {background-color:#dcc56d;}
  
  
  
  .buffer_header .label {min-width:60px; height:20px; margin: 0px 10px 0px 10px; padding-left:5px;}
  .buffer_header .label {line-height:20px; color:#f8f8f8; overflow-x:hidden;}
  .buffer_header .label:focus {outline: 1px dashed #f3f3f3;}
  
  .buffer_header .remove_button {float:left; width:6px; height:6px; margin:2px 6px;}
  .buffer_header .remove_button {background-color:#333;}
  .buffer_header .remove_button {border-bottom-left-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px;}
  .buffer_header .remove_button:hover {background-color:#222a46;}
  
  
    ul.buttons {width:120px; height:8px; margin: 0px auto; padding:0px 2px;}
    ul.buttons {list-style:none; cursor:default;}
    ul.buttons li {float:left; width:20px; line-height:8px; padding:0px 2px; margin:0px 2px;} 
    ul.buttons li {text-align:center;}
    ul.buttons li:hover {}
    ul.buttons li::selection {background: transparent;}

      ul.buttons li.grey     {color:#6a6a6a; text-shadow:#535353 0px 1px 0;}
      ul.buttons li.orange   {color:#c48f44; text-shadow:#ac691d 0px 1px 0;}
      ul.buttons li.blue     {color:#465b90; text-shadow:#33436a 0px 1px 0;}
      ul.buttons li.purple   {color:#78629b; text-shadow:#533e7e 0px 1px 0;}
      ul.buttons li.green    {color:#958f20; text-shadow:#718111 0px 1px 0;}
      
      ul.buttons li.grey:hover     {color:#535353;}
      ul.buttons li.orange:hover   {color:#ac691d;}
      ul.buttons li.blue:hover     {color:#33436a;}
      ul.buttons li.purple:hover   {color:#533e7e;}
      ul.buttons li.green:hover    {color:#718111;}
    
  

  .buffer_body   {min-height:200px; padding:10px;}
  .buffer_body   {background-color:#f5f5f5;}
/*  .buffer_body::selection {background: transparent;}*/
  .buffer_body:focus {outline: 0px solid transparent;}
  

  .triangle_on {}
  .triangle_on::selection {background: transparent;}

    .triangle {position:absolute; width:8px; height:8px; right:0px; bottom:0px;  z-index:10;}
    .triangle {background:url(/images/triangle.png) no-repeat;}    
    .triangle:hover {cursor:default;}
    

.divider            {position:relative; float:left;}
.divider            {background-color:Transparent; border:none;}


  .divider.vertical   {width:20px; height:1px;}
  .divider.horizontal {height:20px; width:1px;}
  .divider.hover      {background-color:#ccc;}
  
  .divider ul {position:absolute; width:10px; height:20px; left:6px; padding:0px; margin:0px; list-style:none;}
  .divider li {float:left; width:2px; height:10px; margin-left: 2px; background-color:#666;}
  
  
  
  
#small-page     {width:600px; height:420px; margin:50px auto; padding:30px;}
#small-page     {background: #e6e6e6; outline:1px solid #1f397c;}

#small-page .field {width:100%; margin-bottom:40px;}
#small-page h4  {font-size:24px; font-weight:normal; text-align:center; color:#333; margin-bottom:40px;}
#small-page h5  {font-size:14px; font-weight:normal; color:#111;}
#small-page input {width:300px; line-height:24px; font-size:14px; background-color:#faffbd; margin-top:10px; padding-left:5px;}
#small-page input.btn  {width:160px; height:48px; margin:40px 0px 0px 240px; background:url(/images/btn_std.jpg); border:none;}
#small-page input.btn:hover {background:url(/images/btn_hover.jpg);}
/*#small-page input.btn.b2 {margin-top:160px;}*/

#small-page .listing {width:560px; height:40px; margin-bottom:10px; padding-left:40px; background: url(/images/page.png) no-repeat;}
#small-page .listing {border-bottom: 4px solid #ccc;}
#small-page .listing h5 {line-height:40px; font-size:16px; color:#333;}

#small-page .header  {width:500px; height:100px; padding-left:100px; background: url(/images/pages.png) no-repeat;}
#small-page .header h3 {line-height:100px; font-size:24px; color:#333;}

