/*      */
/* PAGE */
/*      */

#page     {width:1000px; min-height:700px; margin:0px auto; padding:30px;}
#page     {background:#fff; border:1px solid #bbbbbb; border-top:none;}
  #page.preview {background:#fff;}


.container {float:left; position:relative; min-width:180px;}
.container {}


/*          */
/* TEXT BOX */
/*          */

.box   {position:relative; width:100%;}
.box   {border:1px solid #ccc;}
.box::selection {background: transparent; margin:0;}

  .box.preview {background-color:#fff; border:none;}

  /*                 */
  /* TEXT-BOX HEADER */
  /*                 */
  .header {height:15px;}
  .header {}
  .header::selection {background: transparent;}

    .header.ce {height:15px; background:url('/images/inspector-header.jpg')}
    .header.ce.hover  {background:url(''); background-color:#8eb4e3; }
    .header.preview {background-color:#fff; border:none;}
    
    .header .remove        {float:left; width:6px; height:6px; margin:2px 6px; padding:3px 0px;}
    .remove .remove_button {width:6px; height:6px; background-color:#888;}
    .remove .remove_button {border-bottom-left-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px;}


    ul.buttons {width:120px; height:8px; margin: 0px auto; padding:3px 2px;}
    ul.buttons {list-style:none; cursor:default;}
    ul.buttons li {float:left; width:20px; line-height:8px; padding:0px 2px; margin:0px 2px;}
    ul.buttons li {text-align:center; color:#fff;}
    ul.buttons li:hover {color:blue;}
    ul.buttons li::selection {background: transparent;}
    
    
  /*               */
  /* TEXT-BOX BODY */
  /*               */
  .body   {}
  .body   {background-color:#fff;}
    .body.preview {}

  .content {min-height:50px; padding:10px; padding-top:5px; z-index:1;}
  .content {background:transparent;}
  .content:focus {outline: 0px solid transparent;}


  /* SQUARES */
  .square {position:absolute; width:5px; height:5px; z-index:1;}
  .square {border:1px solid #333; background-color:#fff;}
    .square.left {left:-4px; bottom:50px;}
    .square.right {right:-4px; bottom:50px; }
    .square.bottom {right:100px; bottom:-4px;}

    .square:hover {cursor:default;}
    
/* DIVIDERS*/

.divider            {position:relative; float:left;}
.divider            {background-color:Transparent; border:none;}

  .divider.vertical   {width:20px; height:1px;}
  .divider.horizontal {height:20px; width:1px;}

    .divider.vertical.preview {width:1px;}
    .divider.horizontal.preview {height:1px;}
