<div id="ruler">
  <div class=hundred-pixels>
   <span class="value">0</span>
   <ul class="pixels">
     <li class="one"></li>
     <li class="two"></li>
     <li class="three"></li>      
     <li class="four"></li>
     <li class="five"></li>
     <li class="six"></li>
     <li class="seven"></li>
     <li class="eight"></li>
     <li class="nine"></li>
     <li class="ten"></li>
   </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">100</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">200</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>     
  <div class=hundred-pixels>
   <span class="value">300</span>
   <ul class="pixels">
     <li class="one"></li>
     <li class="two"></li>
     <li class="three"></li>      
     <li class="four"></li>
     <li class="five"></li>
     <li class="six"></li>
     <li class="seven"></li>
     <li class="eight"></li>
     <li class="nine"></li>
     <li class="ten"></li>
   </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">400</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
   <span class="value">500</span>
   <ul class="pixels">
     <li class="one"></li>
     <li class="two"></li>
     <li class="three"></li>      
     <li class="four"></li>
     <li class="five"></li>
     <li class="six"></li>
     <li class="seven"></li>
     <li class="eight"></li>
     <li class="nine"></li>
     <li class="ten"></li>
   </ul>
  </div>           
  <div class=hundred-pixels>
    <span class="value">600</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">700</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">800</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">900</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">1000</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
