#toolbar.toolbar
	.section
	  #styles-button.deselected
	    .styles.sources
	  		%ul
	  		  %li New York Times
	  		  %li Reuters
	  		  %li Facebook
	  		  %li Google
    #styles-dropdown
	  	.styles.values
	  		%ul
	  		  %li Header 1
	  			%li Header 2
	  			%li Paragraph 1
	  			%li Paragraph 2
	  			%li Link
	  .clear
	.section
	  .font.dropdown
	    %span.selected.option Helvetica
	    .arrows
	    .font.values
	      %ul
	        %li Helvetica
					%li Arial
					%li Verdana 
					%li Times New-Roman
  .section
    #colors.2(:style => "background-color:#000;")
			.colors.values
	  %ul.options
			%li#bold
			%li#italics
			%li#underline
		%ul.paragraph.options
			%li#left-align
			%li#center-align
			%li#right-align
			%li#justify
	.right.section(:style => "border:none;")
		#information.ui-icon.ui-icon-radio-on
	.right.section
		#viewing-modes
		  %ul#viewing-modes
			  %li.ui-icon.ui-icon-pencil.typing
	      %li.ui-icon.ui-icon-wrench.contentent-edit
        %li.ui-icon.ui-icon-document.preview
	.clear

#toolbar2.toolbar
	.section
	  #styles-button.deselected
	    .sources.values
	      %ul
				  %li Text
				  %li Image
				  %li Html
				  %li Table
				  %li Latex
		.clear
	.section
	  %span.label width
	  .bin-width.dropdown.text
	    %input(:type => 'text', :value =>'12')
			.bin-width.values
			.clear
		.ui-icon.ui-icon-unlocked.lock.width(:style => 'float:left;')
	  %span.label height
	  .bin-height.dropdown.text
	    %input(:type => 'text', :value =>'12')
			.bin-height.values
			.clear
		.ui-icon.ui-icon-unlocked.lock.height(:style => 'float:left;')
		.clear
	.section
	  %span.label padding
	  .bin-padding.dropdown.text
	    %input(:type => 'text', :value =>'0px')
			.bin-padding.values
			.clear
		.ui-icon.ui-icon-unlocked.lock.padding(:style => 'float:left;')
	  %span.label margin
	  .bin-margin.dropdown.text
	    %input(:type => 'text', :value =>'0px')
			.bin-margin.values
			.clear
		.ui-icon.ui-icon-unlocked.lock.margin(:style => 'float:left;')
		.clear
	.right.section(:style => 'border:none;')
		#information.ui-icon.ui-icon-radio-on
	.right.section
		%ul
			%li.ui-icon.ui-icon-pencil.typing
			%li.ui-icon.ui-icon-wrench.content-edit
			%li.ui-icon.ui-icon-document.preview
	.clear


#toolbar3.toolbar
	.right.section(:style => 'border:none;')
		#information.ui-icon.ui-icon-radio-on	  
	.right.section
		%ul
			%li.ui-icon.ui-icon-pencil.typing
			%li.ui-icon.ui-icon-wrench.content-edit
			%li.ui-icon.ui-icon-document.preview
	.clear
