<div id="menubar">
	<div class="wrapper">
		<div id="company_name">
			<h3>Boxes & Bins</h3>
		</div>
		<div id="page_title">
			<input value=" <%= page || "Page Title" %> ">
		</div>
		
		<div id="page_id">
			<p><%= id %></p>
		</div>
	</div>
</div>
