
<div>
  <!-- <span style="background-color:green; color:white; padding:4px;">left-buffer</span>
  <span style="background-color:yellow; padding:4px;">selection</span>
  <span style="background-color:red; color:white; padding:4px;">right-buffer</span>  -->
  <br /><br />
  <span id="link"><a href="javascript:editor('color', 'green');">green</a></span>
  <span id="link"><a href="javascript:editor('color', 'red');">red</a></span>
  <span id="link"><a href="javascript:editor('color', 'black');">black</a></span>
  <span id="link"><a href="javascript:editor('color', 'blue');">blue</a></span>
  <br /><br />
  <span id="link"><a href="javascript:editor('size', '14');">14</a></span>
  <span id="link"><a href="javascript:editor('size', '18');">18</a></span>
  <span id="link"><a href="javascript:editor('size', '22');">22</a></span>
</div>

<div id="bachi" contentEditable="true"  class="text" style="margin:300px auto; min-height:350px; width:500px; border:1px solid #ccc; padding:20px;">
  <p>
    <span class="cblack s14">Lots of people argue about which place has the best pizza. </span>
    <span class="cblack s14">But only a geeks geek would get so obsessed that they spend </span>
    <span class="cblack s14">a whole weekend determining as scientifically </span>
    <span class="cblack s14">as possible exactly whos right and whos wrong.</span>
  </p>
  <p>
    <span class="cblack s14">Enter David Shamma, </span>
    <span class="cblack s14">a research scientist and Chicago style pizza snob. </span>
    <span class="cblack s14">He argued with former Yahoo product guru Daniel Raffel about which Chicago joint had the best pizza.</span>
  </p>
  <p>
    <span class="cblack s14">So its been raining for almost two years here on the West Coast and it, </span>
    <span class="cblack s14">for lack of a better term, sucks. But you know whats making Noahs Ark part deux just a teensy, eensy bit better? Whtr.in, a newly launched minimalist site that uses geo-location to serve up information about the weather around you.</span>
  </p>
  <p>
    <span class="cblack s14">Built by Artur Kisiolek, the site automatically gives you information for your location coordinates, allows you to search by location name as well plugging your zip code into the URL and also includes a list of top international cities you can immediately drag into your browser bookmarks or iPhone homescreen.</span>
  </p>

</div>
