
	<%= render :partial => "header", :locals => {:page => @page.title, :id => @page.id} %>

<div class="wrapper">
	<div id="toolbar">
		<ul class="buttons">
			<li class="button left">&larr;</li>
			<li class="button up">&uarr;</li>
			<li class="button down">&darr;</li>
			<li class="button left">&rarr;</li>
			<li class="button remove">&otimes;</li>
		</ul>
		<div class="clear">
	</div>

	<div id="page">
	</div>
</div>


